%h1 Admin

= haml :new

%table
  %thead
    %tr
      %th Gig
      %th Date & Time
      %th Price
      %th Venue
      %th Actions
  %tbody
    - @gigs.each do |gig|
      %tr
        %td
          %a{:href => gig.url, :target => :_blank}
            = gig.title
        %td= gig.date_time
        %td= gig.price
        %td= gig.venue
        %td
          %a{:href => "/edit/#{gig.id}"}
            Edit

          %form{ :action => "/gig/#{gig.id}", :method => :post }
            %input{:type => :hidden, :name => :_method, :value => :delete}
            %input{:type => :submit, :value => "Delete"}